<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Index</title>

  {{ stylesheet_pack('app') }}
</head>
<body>

<div class="jumbotron py-5">
  <div class="container">
    <h1 class="display-3">Creador de PDFs</h1>
    <div class='row my-5'>
      <div class="col-6">
          <div class="form-group">
            <label for="autor">Título:</label>
            <input type="text" class="form-control" id="titulo" aria-describedby="Autor" placeholder="Título">
          </div>
          <div class="form-group">
            <label for="autor">Autor:</label>
            <input type="text" class="form-control" id="autor" aria-describedby="Autor" placeholder="Autor">
          </div>
          <fieldset id="historicos" class="form-group my-4">
            <div class="row">
              <legend class="col-form-label col-sm-4 pt-0">Incendios históricos</legend>
              <div class="col-sm-8">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="riba" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Riba de Saelices 
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios2" value="horta">
                  <label class="form-check-label" for="gridRadios2">
                    Horta de Sant Joan
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="castro" >
                  <label class="form-check-label" for="gridRadios3">
                    Castrocontrigo
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset id="helis" class="form-group my-4">
            <div class="row">
              <legend class="col-form-label col-sm-4 pt-0">Helicópteros</legend>
              <div class="col-sm-8">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="sokol" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Sokol 
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios2" value="bell">
                  <label class="form-check-label" for="gridRadios2">
                    Bell 412
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="puma" >
                  <label class="form-check-label" for="gridRadios3">
                    Super Puma
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="kamov" >
                  <label class="form-check-label" for="gridRadios3">
                    Kamov
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <button id="crear" type="submit" class="btn btn-primary">Crear</button>
        </form>
      </div>

      <div class="col-6 justify-content-center">
        <div class="card">
          <div class='card-header'><h4>Incendios por provincias</h4></div>  
          <div id="provinciasDiv" class='card-body'></div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ javascript_pack('app', 'app2', attrs='charset="UTF-8"') }}

</body>
</html>

